body {
    background-image: url(  img/dentist-background.png);
    background-position: 0 -70px;
}

#login {
    padding-top: 20vh;
}

#password {
    margin-top: 10px;
}

.form-control {
    padding: 20px;
}

.jem-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#sub {
    width: 45%;
    margin-top: 10px;
    position: absolute;
}

#reg {
    width: 45%;
    margin-left: 47%;
    margin-top: 10px;
    position: absolute;
}
